<section class="jumbotron text-center">
    <!-- TODO: custom user fields for each category banner ? -->
    <a href="catalog/TP_KITS" ng-show="isActive('catalog/TP_MAIN') || isActive('catalog/TP_KITS')">
        <img class="img-responsive kit-banner" src="css/images/banner-1.jpg" />
    </a>
    <a href="catalog/Scoop" ng-show="isActive('catalog/Scoop')" >
        <img class="img-responsive kit-banner" src="css/images/banner-2.jpg" />
    </a>
    <a href="catalog/Scoop" ng-show="isActive('catalog/8ABA9F86-92FD-4D6D-B2C8-2B8E83F1F9DC')" >
        <img class="img-responsive kit-banner" src="css/images/banner-chefs.jpg" />
    </a>
</section>