<section>
    <div>
        <!--<div class="category-header" ng-if="currentCategory.Description">
            <img src="{{currentCategory.Description}}" />
            <h1>{{currentCategory.Name}}</h1>
        </div>-->
        <div class="category-header" ng-hide="isActive('catalog')">
            <img src="css/images/USFoods/image.1510461950381.jpg" />
            <h1>{{currentCategory.Name}}</h1>
        </div>

        <breadcrumbs ng-hide="isActive('catalog')"></breadcrumbs>
        <categorylistview></categorylistview>
        <loadingindicator ng-show="productLoadingIndicator" title="{{'Please wait while we fetch all products' | r | xlat}}"/>
        <productlistview></productlistview>

    </div>
</section>