<div class="footer-cart">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="col-xs-12 col-sm-2 order-total">
            <h4>{{'Order Total' | r | xlat}}</h4>
            <h3>{{currentOrder.Subtotal | culturecurrency}}</h3>
        </div>
        <div class="col-xs-12 col-sm-10 text-right">
            <button type="button" class="btn btn-info btn-lg" redirect="catalog">
                <span class="hidden-xs">{{'Continue Shopping' | r | xlat}}</span>
                <span class="visible-xs">{{'Shop' | r | xlat}}</span>
            </button>
            <button type="button" class="btn btn-lg" ng-class="{'btn-warning': cart.$invalid, 'btn-success': !cart.$invalid }" ng-click="checkOut()" ng-disabled="cart.$invalid || kitValidation">
                <i ng-show="cart.$invalid || kitValidation" class="fa fa-warning"></i>
                <span>{{'Check Out' | r | xlat}} {{window.outerWidth}}</span>
            </button>
        </div>
    </div>
</div>